/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.contact-address {
  text-align: center
}

#map {
  width: 100%;
  height: 300px;
}
