.table > tbody > tr.warning > td {
  background-color: #F5F5F5 !important;
}

// Center cart line items
table {
  &.table > tbody > tr {
    &.line-item td, &.stock-item td {
      vertical-align: middle;
    }
  }

  &#line-items {
    > tbody, > tfoot {
      > tr > td {
        vertical-align: middle;

        &.order-qty {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .coupon-code, .cart-buttons {
    width: 100%;
    float: none;
  }

  #empty-cart {
    padding: 0;
  }

  .navbar-form {
    margin-left: 0;
    margin-right: 0;
  }
}

