// Products index
.product {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 0px 10px;
  // display: inline-block;
  img {
    width: 100%;
    height: 100%;
  }
}

.product-body {
  color: white;
  padding: 0px;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
}

.product:hover {
  .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: block;
  }

  .product-body {
    display: block;
    z-index: 120;
  }
}

.product-content {
  color: white;
  padding: 0px 5px;
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
