.add-to-cart {
  display: flex;
  .btn-buy {
    margin-left: 30px;
  }
}

.product-show-body {
  display: block !important;
  padding: 0;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  .product-show-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    background-color: $brand-primary;
  }
}

.product-title {
  display: flex;
  align-items: baseline;
  .fb-share-button {
    margin-left: 20px;
  }
}


