.artistes-dropdown-panel {
  p {
    line-height: 30px;
    margin-bottom: 0;
    .taxon-dropdown-list-item {
      transition: all 0.2s ease;
      line-height: 30px;
      display: inline-block;
      border-bottom: 1px solid transparent;
      &:hover, &.active {
        border-color: $brand-primary;
      }
    }
  }
}
