<li class="nav-taxons">
  <div class="dropdown taxon">
    <a class="dropdown-toggle subtaxon-title" id="navbar-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-account">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</li>
