<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
        <p>25 passage du Ponceau</p>
        <p>75002 Paris</p>
        <p>FRANCE</p>
        <br />
        <p>Horaires librairie :</p>
        <p>Lun-Ven 12-19h</p>
        <br />
        <p>contact email : contact@classic-paris.com</p>
      </div>
    </div>
  </div>
</div>
